<app-pagewrapper>
  <div class="homeContainer">
    <div class="headerContainer">
      <div class="headerBackground">
        <form class="searchContainer" (submit)="searchShows($event)">
          <div class="section">
            <div class="label">Looking for shows in</div>
            <div>
              <app-location-search
                placeholder="City"
                autocomplete="off"
                (selected)="setLocation($event)"
                [value]="selectedLocation"
              ></app-location-search>
            </div>
          </div>
          <div class="section">
            <div class="label">On</div>
            <div>
              <app-select-date 
                placeholder="Select a Date" 
                (date)="dateRange = $event"
              ></app-select-date>
            </div>
          </div>
          <div class="section btnSection">
            <button mat-button class="searchBtn" type="submit"><mat-icon>search</mat-icon></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-pagewrapper>