<app-pagewrapper>
  <div class="eventContainer">
    <div class="header">
      <div class="topWrapper">
        <div class="bannerWrapper">
          <div class="bannerImage" *ngIf="event?.banner" [ngStyle]="{ 'background-image': 'url(' + event?.banner + ')'}"></div>
          <div class="bannerImage backup" *ngIf="!event?.banner"></div>
          <div class="eventInfo">
            <h1>{{event?.name}}</h1>
            <a [routerLink]="['/venue/' + event?.venueByVenue.name]">{{event?.venueByVenue.name.split('-')[0]}}</a>
            <div>{{event?.startDate | date:'MMM d'}}</div>
          </div>
        </div>
        <!-- <div class="eventInfo">
          <h1>{{event?.name}}</h1>
          <a [routerLink]="['/venue/' + event?.venueByVenue.name]">{{event?.venueByVenue.name.split('-')[0]}}</a>
          <div>{{event?.startDate | date:'MMM d'}}</div>
        </div> -->
      </div>
      <div class="bottomWrapper">
        <div class="optionsWrapper">
          <mat-icon (click)="share()" matTooltip="Share">share</mat-icon>
          <mat-icon matTooltip="Add to Watched">star_border</mat-icon>
        </div>
        <button mat-button>Tickets</button>
      </div>
    </div>
    <div class="infoContainer" *ngIf="event">
      <div class="generalInfo">
        <div class="section">
          <h3 class="sectionHeader">Artists</h3>
          <a 
            [routerLink]="['/artist/' + artist.artistByArtistId.name]"
            *ngFor="let artist of event.artistToEventsByEventId.nodes; let i = index;" 
            class="artist"  
          >{{artist.artistByArtistId.name}}{{i + 1 < event.artistToEventsByEventId.nodes.length ? ',' : ''}}</a>
        </div>
        <div class="section">
          <h3 class="sectionHeader">Date And Time</h3>
          <div>{{event.startDate | date:'EEE, MMM d'}}</div>
          <a [href]="calendarLink" target="_blank" rel="nofollow">Add to Google Calendar</a>
        </div>
        <div class="section">
          <h3 class="sectionHeader">Location</h3>
          <div>{{event.venueByVenue.name.split('-')[0]}}</div>
          <div>{{event.venueByVenue.address}}</div>
          <a (click)="scrollTo('locationAnchor')">View Map</a>
        </div>
      </div>
      <div class="description">
        <div class="section">
          <h3 class="sectionHeader">Description</h3>
          <div [innerHTML]="event.description"></div>
        </div>
      </div>
    </div>
    <div class="mapContainer" id="locationAnchor">
      <app-venue-map 
        *ngIf="event && event.venueByVenue.lat" 
        [lat]="+event.venueByVenue.lat" 
        [lon]="+event.venueByVenue.lon"
        [venueName]="event.venueByVenue.name.split('-')[0]"
        [address]="event.venueByVenue.address"
        [eventName]="event.name"
      ></app-venue-map>
    </div>
    <div class="commentContainer">
      <disqus [identifier]="disqusId" *ngIf="disqusId"></disqus>
    </div>
  </div>
</app-pagewrapper>