.eventContainer {
  width: 100vw;

  .header {

    .topWrapper {
      display: flex;
      flex-direction: column;

      .bannerImage {
        height: 200px;
        background: red;
        flex: 1;
      }
      .eventInfo {
        padding: 30px;
      }
    }
    .bottomWrapper {
      display: none;
      justify-content: space-between;
      padding: 10px 15px;
    }
  }
  @media (min-width: 768px) {

    .header {

      .topWrapper {
        flex-direction: row;
      }
      .bottomWrapper {
        display: flex;
      }
    }
  }
}