.venueContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--color-background);

  .wrapper {
    width: 100%;
    max-width: 1080px;
    background: white;
  }
  .header {
    background-size: cover;
    background-position: center;
    padding: 0 5%;
    height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 3em;
      color: white;
    }
    .followContainer {
      button {
        color: white;
      }
    }
  }
  .upcomingContainer {
    margin: 50px 5%;
  }
  @media (min-width: 768px) {
    .upcomingContainer {
      width: 50%;
    }
  }
}