.navBarContainer {
  // background: var(--color-white);
  color: var(--color-black);
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: var(--height-navbar);
  transition: all .3s ease-in-out; 
  overflow: hidden;

  &.hidden {
    transform: translateY(calc(var(--height-navbar) * -1));
  }
  mat-icon {
    font-size: 32px;
    color: var(--color-black);
    cursor: pointer;
  }
  .navBarWrapper {
    width: 100%;
    height: calc(var(--height-navbar) - 1px); // -1 px for the border to show
    position: absolute;
    top: 0;
    border-bottom: solid 1px var(--color-border);
    background: var(--color-white);

    .barWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--height-navbar);
      padding: 0 10px;

      > div {
        flex: 1;
      }
      > .sectionsWrapper {
        height: inherit;
        display: none;
        
        > .section {
          display: flex;
          align-items: center;
          cursor: pointer;
          height: inherit;
          transition: .3s;
          padding: 0 10px;
          position: relative;
          transition: .3s;

          .dropdown {
            display: none;
            position: absolute;
            top: 54px;
            left: 0;
            padding: 20px 30px 20px 30px;
            border: solid 1px var(--color-border);
            border-top: none;
            background: var(--color-white);
            color: var(--color-black);

            &.create {
              width: 300px;
            }
            > div {
              padding: 10px 0;
              transition: .3s;
            }
            > div:hover {
              color: var(--color-secondary);
            }
          }
        }
        > .section:hover {
          color: var(--color-secondary);

          .dropdown {
            display: block;
          }
        }
      }
      .logoWrapper {
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          // background: url('../../../assets/dino.svg');
          width: 30px;
          background-size: cover;
          background-position: center;
          margin-right: 10px;
        }
        span {
          display: none;
        }
      }
      .cartWrapper {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .account {
          transition: .3s;
          font-size: 18px;
          margin-right: 10px;
          cursor: pointer;
          padding: 10px;
        }
        .account:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .navBarContainer {
    display: flex;
    justify-content: center;

    .logoWrapper {
      cursor: pointer;

      > span {
        display: block!important;
      }
    }
    .sectionsWrapper {
      display: flex!important;
      
      > div {
        padding: 0 12px;
        font-size: 18px;
      }
    }
    .mobilePrompt {
      display: none;
    }
  }
}
