<div 
  class="navBarContainer" 
  [ngClass]="collapsibleNav ? (utilService.scrollDirection === 'down' ? 'hidden' : null) : null" 
  id="navBar"
>
  <div class="navBarWrapper">
    <div class="barWrapper">
      <div class="backWrapper">
        <button *ngIf="hasBack" mat-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
      </div>
      <div class="logoWrapper">
        <a class="logo" [routerLink]="['/']"><div>EDM</div></a>
      </div>
      <div class="right">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person_outline</mat-icon></button>
        <mat-menu #menu="matMenu">
          <div *ngIf="!signedIn">
            <a [routerLink]="['/signup']" [queryParams]="{ redirect: router.url }"><button mat-menu-item>Signup</button></a>
            <a [routerLink]="['/login']" [queryParams]="{ redirect: router.url }"><button mat-menu-item>Login</button></a>
          </div>
          <div *ngIf="signedIn">
            <a [routerLink]="['/watched']"><button mat-menu-item>Watched Events</button></a>
            <a><button mat-menu-item>Submit Event</button></a>
            <a [routerLink]="['/settings']"><button mat-menu-item>Account Settings</button></a>
            <button mat-menu-item (click)="userService.logoutUser()">Log out</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>