.policiesContainer {
  width: calc(100% - 20px);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  background: white;

  mat-tab-group {
    max-height: 85vh;

    .policyContainer {
      padding: 10px;
    }
  }
}