.artistContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--color-background);

  .wrapper {
    width: 100%;
    max-width: 1080px;
    background: white;
  }
  .header {
    background: var(--color-primary);
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 3em;
      color: white;
    }
    .socialOptions {
      display: flex;

      .socialOption {
        a {
          text-decoration: none;
          color: var(--color-accent);

          button {
            padding: 0 10px;
            min-width: auto;

            fa-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .followContainer {
      button {
        color: white;
      }
    }
  }
  .contentWrapper {
    margin: 0 5%;
  }
  @media (min-width: 768px) {
    .header {
      height: 35vh;
      padding: 0 5%;
    }
    .contentWrapper {
      display: flex;
      align-items: center;
      margin: 100px 5%;

      .infoContainer {
        flex: 1;
      }
      .soundcloudWrapper {
        width: 300px;
        margin-left: 50px;
      }
    }
  }
}