<app-pagewrapper>
  <app-settings-wrapper>
    <div class="preferencesContainer">
      <h1 class="settingsHeader">Email Preferences</h1>
      <div class="formWrapper">
        <div class="locationsContainer" *ngIf="frequency !== 'NEVER'">
          <h5>Locations to Receive Updates For (up to 5)</h5>
          <div class="locationsWrapper">
            <div *ngFor="let location of locations; let i = index" class="locationRow">
              <div>{{location.label}}</div>
              <button mat-button (click)="removeLocation($event, location.id, i)" class="removeBtn">Remove</button>
            </div>
          </div>
          <app-location-search
            placeholder="Location"
            autocomplete="off"
            (selected)="selectLocation($event)"
            [value]="locationValue"
          ></app-location-search>
        </div>
        <div class="frequencyContainer">
          <h5>Frequency To Receive New Show Updates</h5>
          <mat-form-field>
            <mat-select name="frequencyInput" [(ngModel)]="frequency" (selectionChange)="changeFrequency()">
              <mat-option *ngFor="let frequency of frequencies;" [value]="frequency.value">
                {{frequency.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> 
      </div>
    </div>
  </app-settings-wrapper>
</app-pagewrapper>