.eventsContainer {
  width: 100%;
  position: relative;

  .searchContainer {
    width: 100vw;
    padding: 5%;
    box-sizing: border-box;
    z-index: 999;
    position: fixed;
    top: var(--height-navbar);
    left: 0;
    height: 20vh;
    background: white;

    .mapContainer {
      height: 55vh;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
  
      .mapWrapper {
        height: 100%;

        agm-map {
          height: 100%;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .searchWrapper {
        font-size: 1em;
        flex: 1;
        
        .dateWrapper {
          font-size: .75em;
        }
        .locationWrapper {
          display: flex;

          .in {
            color: #c2c2cc;
            margin-right: 15px;
          }
        }
        mat-form-field {
          width: 100%;

          .mat-form-field-infix {
            padding-top: 0;
            border-top: 0;
          }
        }
        app-location-search {
          display: inline-block;
          width: 100%;
        }
      }
      .searchBtn {
        background: var(--color-accent);
        color: white;
        font-size: 16px;
        margin: 0 15px;
      }
    }
  }
  .eventsWrapper {
    height: calc(100vh - var(--height-navbar) - 20vh);
    width: 100vw;
    position: absolute;
    top: calc(var(--height-navbar) + 20vh)
  }
  @media (min-width: 768px) {
    display: flex;

    .searchContainer {
      width: 50vw;
      padding: 24px;

      form {
  
        .searchWrapper {
          font-size: 2em;

          .dateWrapper {
            font-size: 20px;
          }
        }
      }
    }
    .eventsWrapper {
      height: calc(100vh - var(--height-navbar));
      width: 100vw;
      top: 0;
    }
  }
}