<app-pagewrapper [collapsibleNav]="false">
  <div class="eventsContainer">
    <div class="toggleContainer" (click)="collapsed = !collapsed">
      <div>{{collapsed ? 'Expand Search' : 'Collapse Search'}}</div>
      <mat-icon>search</mat-icon>
    </div>
    <div class="searchContainer" [ngClass]="collapsed ? 'collapsed' : ''">
      <form (submit)="changeUrlPath()">
        <div class="searchWrapper">
          <mat-form-field color="accent" floatLabel="never">
            <input
              matInput
              placeholder="Search"
              autocomplete="off"
              [formControl]="searchQueryControl"
            />
          </mat-form-field>
          <div class="locationWrapper">
            <span class="in">in</span>
            <app-location-search
              placeholder="Location"
              autocomplete="off"
              (selected)="setLocation($event)"
              [value]="selectedLocation"
              [floatLabel]="false"
            ></app-location-search>
          </div>
          <div class="dateWrapper">
            <app-select-date (date)="selectDate($event)" [value]="dateRange"></app-select-date>
          </div>
        </div>
        <button mat-button class="searchBtn" type="submit"><mat-icon>search</mat-icon></button>
      </form>
      <!-- <div class="mapContainer">
        <div class="mapWrapper" *ngIf="mapInited">
          <agm-map 
            [disableDefaultUI]="true"
            [streetViewControl]="false"
            [fitBounds]="latlngBounds"
            [styles]=mapStyle
            [zoom]="zoomLevel"
            mapTypeId="terrain"
            [scrollwheel]="false"
          >
            <agm-marker-cluster 
              [minimumClusterSize]="clusterOptions.minimumClusterSize" 
              [gridSize]="clusterOptions.gridSize"
              [averageCenter]="clusterOptions.averageCenter"
              imagePath="https://googlemaps.github.io/js-marker-clusterer/images/m"
            >
              <agm-marker 
                *ngFor= "let marker of eventMarkers; let i = index;"
                [latitude]= "marker.lat" 
                [longitude]= "marker.lon" 
                (markerClick)="markerClick(i)"
              ></agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
        <div class="spinnerWrapper" *ngIf="!mapInited"><mat-spinner></mat-spinner></div>
      </div> -->
    </div>
    <div *ngIf="!location">Select a city to search for shows in to get started</div>
    <cdk-virtual-scroll-viewport class="eventsWrapper" itemSize="50" [ngClass]="collapsed ? 'collapsed' : ''">
      <app-event-card
        *cdkVirtualFor="let event of eventsObservable | async"
        [name]="event.name"
        [location]="event.venue"
        [date]="event.startDate"
        [id]="event.id"
        [externalUrl]="event.ticketproviderurl"
        [ticketProviderId]="event.ticketproviderid"
        [image]="event.artistToEventsByEventId.nodes[0].artistByArtistId.photo"
        [watchId]="event.watchListsByEventId.nodes[0]"
        size="half"
        [new]="event.new"
      ></app-event-card>
      <div class="eventFallback" *ngIf="!(eventsObservable | async)?.length && eventsInited">
        <div class="wrapper">
          <img class="logoImg" src="assets/icons/icon-192x192.png" />
        </div>
        <h2>No events. Try a new search.</h2>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</app-pagewrapper>