<div class="modalContainer">
  <div class="mockNav">
    <div class="mobilePromptClose" (click)="dismiss()">
      <div><mat-icon>close</mat-icon></div>
    </div>
    <div class="logoWrapper">
      <img class="logoImg" src="../../../assets/dino.svg" />
    </div>
    <div class="cartWrapper">
      <div><mat-icon (click)="dismiss('cart')">shopping_cart</mat-icon></div>
    </div>
  </div>
  <div class="contentWrapper">
    <div class="section" *ngFor="let option of sections; let i = index;" [ngClass]="[activeSection === i ? 'active' : '']">
      <div class="sectionHeader" (click)="selectSection(i)">
        <div class="sectionName">{{option.label}}</div>
        <div class="arrowWrapper" *ngIf="option.subSections.length">
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
      <div class="subSectionsWrapper" *ngIf="option.subSections.length">
        <div *ngFor="let subSection of option.subSections;" class="subSection" (click)="dialogRef.close(subSection)">
          {{subSection}}
        </div>
      </div>
    </div>
  </div>
</div>