/* You can add global styles to this file, and also import other style files */
@import './app/theme.scss';
@import '~@ngx-share/button/themes/material/material-dark-theme';


// global css4 vars
:root {
  --color-primary: #546e7a;
  --color-accent: #ffc107;
  --color-border: #ddd;
  --height-navbar: 54px;
}

.boldFont {
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

app-pagewrapper {
  position: fixed;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;
  overflow:   scroll;
  -ms-overflow-style: none;
  font-family: 'Helvetica Neue', 'RobotoLight', sans-serif;
}

app-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

app-navbar {
  width: 100%;
}

// hacky css editing of material inputs
.searchWrapper {
  .mat-form-field-infix {
    padding-top: 0 !important;
    border-top: 0 !important;
    padding-bottom: 5px !important;
  }
  .mat-form-field-label-wrapper {
    top: 0 !important;

    .mat-form-field-label {
      top: 0 !important;
    }
  }
}

.sharedialog-panel {
  width: 600px !important;
  max-width: 90% !important;

  mat-dialog-container {
    padding: 0;
  }
}