<mat-form-field color="accent">
  <input
    type="text"
    matInput
    [placeholder]="placeholder" 
    [autocomplete]="autocomplete"
    [matAutocomplete]="auto"
    [formControl]="myControl"
  />
  <button mat-button *ngIf="myControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.reset()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected.emit(this.myControl.value)" [autoActiveFirstOption]="true">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>