.aboutContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    width: 100%;
    max-width: 1080px;
    background: white;
    padding: 20px;
    box-sizing: border-box;
  }
  .logoWrapper {
    margin-top: 35px;

    img {
      width: 96px;
    }
    .title {
      font-size: 32px;
    }
  }
  .section {

    .header {
      font-size: 24px;
    }
    .content {

    }
  }
}