<app-pagewrapper>
  <div class="aboutContainer">
    <div class="wrapper">
      <div class="logoWrapper">
        <img class="logoImg" src="assets/icons/icon-192x192.png" />
        <h1 class="title">Our Story</h1>
      </div>
      <div class="section">
        <h3 class="header boldFont">Some shit about EDM</h3>
        <p class="content">
          Lorem ipsum dolor amet messenger bag cliche street art farm-to-table hoodie. Put a bird on it fam crucifix, affogato tofu waistcoat copper mug air plant bicycle rights kickstarter lumbersexual hot chicken. Meggings sartorial paleo, art party trust fund DIY venmo man bun food truck snackwave air plant. Bespoke umami pour-over, skateboard kombucha mlkshk palo santo iPhone cred tumeric narwhal XOXO.
          <br><br>
          Organic pok pok sustainable shoreditch cloud bread, actually flexitarian gentrify whatever polaroid cornhole poutine shaman prism. Cronut echo park humblebrag, irony sustainable cold-pressed man braid distillery tote bag. Humblebrag pop-up yuccie selvage, biodiesel coloring book readymade art party drinking vinegar fanny pack. Shaman tumblr offal, yr irony kitsch distillery plaid neutra 8-bit enamel pin asymmetrical. Freegan adaptogen kinfolk, chicharrones XOXO polaroid sustainable edison bulb kickstarter typewriter trust fund franzen. Tousled vegan chartreuse four loko. Poutine succulents banh mi thundercats, cardigan poke ethical cornhole.
        </p>
      </div>
      <div class="section">
        <h3 class="header boldFont">Blah blah blah</h3>
        <p class="content">
          Small batch pitchfork ethical cliche brunch scenester biodiesel kogi shoreditch migas wolf. Taiyaki brunch paleo jianbing, poke wolf woke. Next level kinfolk crucifix distillery helvetica health goth cliche lo-fi jean shorts adaptogen taiyaki pok pok knausgaard letterpress. Cornhole direct trade chartreuse, craft beer vexillologist fashion axe meh. Gentrify poke poutine squid yr organic direct trade meditation raw denim. Drinking vinegar quinoa kickstarter yuccie hoodie keffiyeh truffaut.
          <br><br>
          Bicycle rights cred next level, bespoke sartorial green juice listicle gochujang tbh. Put a bird on it single-origin coffee chia, poke everyday carry try-hard salvia mlkshk fanny pack cray keffiyeh kale chips. Brunch kickstarter retro humblebrag tote bag mlkshk kitsch. Intelligentsia prism gastropub, yr venmo bicycle rights pug vape sartorial forage literally man braid. Vape distillery swag, vice kickstarter tacos direct trade cornhole palo santo. Subway tile narwhal squid cronut. Ennui PBR&B slow-carb pinterest biodiesel portland, austin lomo.
        </p>
      </div>
    </div>
  </div>
</app-pagewrapper>
  