<div class="footerContainer">
  <div class="footerWrapper">
    <div class="logoWrapper">
      <span class="boldFont">EDM</span>
    </div>
    <div class="socialWrapper">
      <div *ngFor="let option of socialOptions;">
        <a 
          [href]="option.url" 
          target="_blank" 
          rel="nofollow"
          *ngIf="option.url"
        >
          <button mat-button>
            <fa-icon [icon]="option.icon"></fa-icon>
          </button>
        </a>
      </div>
    </div>
    <div class="linksWrapper">
      <div *ngFor="let link of links;" class="hover link" (click)="navigateTo(link)">{{link}}</div>
    </div>
    <div class="infoWrapper">
      <div>©{{year | date:'y'}} EDM All rights reserved.</div>
    </div>
  </div>
</div>